/*
OsiDark theme - v0.5
Bas van Dijk
https://github.com/basvdijk/domoticz-osidark-theme
*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400');


#notification {
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.47);
    border-style: solid;
    border-radius: 0
}

#bigtext {
	text-transform: uppercase;
	font-weight: normal;
}

.modal.fade.in {
    margin: auto;
}


#holder,
body {
	background: #1F1E1E;
	font-family: "Open Sans";
}

body {
    padding-right: 5px;
    padding-left: 5px;
}

h2 {
	margin: 22px 0 0 0;
	font-family: "Open Sans";
    text-transform: uppercase;
}

.dimslider {
	box-shadow: none;
}

.bannercontent {
    padding-top: 20px;
}

.brand h1 {
	color: #3E2712;
}

.brand h2 {
    font-family: courier;
    font-style: normal;
    color: #5A4F4F;
    font-size: 11px;
    margin-top: -6px;
    width: 300px;
    margin-left: 0px;
}

.container-fluid {
	padding-bottom: 50px;
}

body .dd-option-image,
body .dd-selected-image {
    margin-right: 15px;
}

body .dd-selected-text,
body .dd-option-text {
	display: block;
	padding-top: 3px;
}

body table#itemtable tr td:first-child + td + td + td + td + td {
    font-size: 80%;
	padding-left: 67px;
}

body table#itemtablenostatus tbody tr:hover {
    border-color: transparent;
	background-color: #F1F5FA; 
}

body table#itemtable tbody tr,
body table#itemtablenotype tbody tr,
body table#itemtabledoubleicon tbody tr,
body table#itemtablenostatus tbody tr {
	/*height: 160px;*/
	overflow: auto;
	width: 100%;
}

body table#itemtablesmalldoubleicon tbody tr,
body table#itemtablesmall tbody tr {
	width: 100%;
	height: 120px;
}

body table#itemtable tbody tr,
body table#itemtablenotype tbody tr,
body table#itemtabledoubleicon tbody tr,
body table#itemtablesmalldoubleicon tbody tr,
body table#itemtablenostatus tbody tr,
body table#itemtablesmall tbody tr {
	border-radius: 0;
	padding: 0;
	margin: 10px 100% 5px 0;
	font-family: "Open Sans";
	position: relative;
}

body table#itemtable tbody tr td:first-child,
body table#itemtablenotype tbody tr td:first-child,
body table#itemtabledoubleicon tr td:first-child,
body table#itemtablesmalldoubleicon tr td:first-child,
body table#itemtablenostatus tr td:first-child,
body table#itemtablesmall tr td:first-child {
	border-radius: 0;
	background-color: #eae5db !important;
	border-width: 0;
	height: auto;
	padding: .3em .5em .3em 1em;
	font-family: "Open Sans";
	font-size: 14px;
}


body table#itemtable tr td:first-child + td,
body table#itemtablenotype tr td:first-child + td,
body table#itemtabledoubleicon tr td:first-child + td,
body table#itemtablesmalldoubleicon tr td:first-child + td,
body table#itemtablenostatus tr td:first-child + td,
body table#itemtablesmall tr td:first-child + td {
	margin: -29px 10px 0 0;
    font-size: 14px;
}

body table#itemtable tr td:first-child + td + td img,
body table#itemtablenotype tr td:first-child + td + td img,
body table#itemtabledoubleicon tr td:first-child + td + td img,
body table#itemtablesmalldoubleicon tr td:first-child + td + td img,
body table#itemtablenostatus tr td:first-child + td + td img,
body table#itemtablesmall tr td:first-child + td + td img {
	margin-top: 15px;
	margin-left: 10px;
}

body table#itemtable tr td:first-child + td + td + td,
body table#itemtablenotype tr td:first-child + td + td + td,
body table#itemtabledoubleicon tr td:first-child + td + td + td,
body table#itemtablenostatus tr td:first-child + td + td + td,
body table#itemtablesmall tr td:first-child + td + td + td {
	margin-top: 25px;
}

body table#itemtablesmalldoubleicon tr td:first-child + td + td + td {
	margin-top: 15px;
}

#lastupdate {
	margin-top: 25px !important;
}


body table#itemtable tr td:first-child + td + td + td + td,
body table#itemtablenotype tr td:first-child + td + td + td + td,
body table#itemtabledoubleicon tr td:first-child + td + td + td + td,
body table#itemtablesmalldoubleicon tr td:first-child + td + td + td + td,
body table#itemtablenostatus tr td:first-child + td + td + td + td,
body table#itemtablesmall tr td:first-child + td + td + td + td {
	margin-top: 5px;
	margin-left: 65px;
}

body table#itemtabledoubleicon tr td:first-child + td + td + td img {
	margin-top: -10px;
}

body table#itemtablenotype tr td:first-child + td + td + td + td + td,
body table#itemtable tr td:first-child + td + td + td + td + td + td,
body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td + td {
	padding: 0 5px;
	margin-top: 32px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
}

.navbar-inverse .navbar-inner {
	background-color: #AFAC9C;
}

.navbar .nav li a,
.navbar .nav li a:hover,
.navbar .nav .current_page_item > a,
.navbar .nav .current_page_item > a:hover {
	background-image: none;
	background-color: #6F7169;
	border-radius: 0;
	border: none;
    font-family: "Open Sans";
    position: relative;
    bottom: 0;
	padding: 4px 15px 15px 10px !important;
	text-align: left;
}

.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover {
	padding: 10px 15px 5px 10px !important
}

.navbar .nav li a span,
.navbar .nav .current_page_item > a span {
	margin-left: 2px;
}

.navbar .nav .current_page_item,
.navbar .nav .current_page_item a:hover {
	background-color: #3D6150;
	border-radius: 0;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #6F7169;
}


.nav li a img {
    vertical-align: inherit;
}

.nav > li > a > img {
    top: 9px;
    left: 3px;
	position: relative;
}

.nav-tabs > li {
    margin: 5px 1%;
    width: 48%;
}

.nav-tabs > li > a {
	border-radius: 0;
}

.sub-tabs > .active > a {
    background-color: #61A9A0;
    border: 1px solid #61A9A0;
    color: white;
}

.sub-tabs > li > a.btn-danger {
	background: #D25858;
	border-color: #D25858 !important;
}

.btnsmall:hover {
    color: #5bc0de;
}

.btnsmall {
	color: #6190A9;
}

.btnsmall-sel {
	color: #8C61A9;
}

.btnsmall-dis {
	color: #d8d8d8;
}

.btnsmall,
.btnsmall-dis,
.btnsmall-sel {
	background: transparent;
	border-radius: 3px;
    text-transform: uppercase;
    line-height: 20px;
	padding: 10px;
}

.btnstyle,
.btnstylerev {
	background: #6190A9;
    border-radius: 3px;
    padding: 0;
}


.btnstyle {
	padding-left: 10px;
}

.btnstyle:after {
	content: "\f054";
    font-family: FontAwesome;
    margin: 10px;
}

.btnstylerev {
	margin-top: 0;
	padding-right: 10px;
}


.btnstylerev:before {
	content: "\f053";
    font-family: FontAwesome;
    margin: 10px;
}

.bannav {
	margin: 20px 0 20px;
}

table#itemtable tr td:first-child + td + td + td + td + td + td,
body table#itemtablenotype tr td:first-child + td + td + td + td + td, 
table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td + td,
body table#itemtablenostatus tr td:first-child + td + td + td + td + td + td {
    background: #eaeaea;
	overflow: auto;
	padding: 0 5px;
	margin-top: 32px;
}

body table#itemtable tr td:first-child + td + td + td + td + td + td img,
body table#itemtablenotype tr td:first-child + td + td + td + td + td img, 
body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td + td img,
body table#itemtablenostatus tr td:first-child + td + td + td + td + td + td img {
	float: left;
    margin-right: 5px;
    margin-left: 10px;
	margin-top: 10px;
}

.dropdown.open {
	background-color: #6F7169;
}

.navbar .nav .dropdown-menu {
	background-color: #6F7169;
	background-image: none;
	border-color: #6F7169;
	border-radius: 0;
	position: absolute;
    /*left: 0 !important;*/
}

.dropdown-menu .divider {
    background-color: transparent;
    border-bottom: 1px solid #868686;
}

.navbar .nav {
    top: 9px;
	margin: -5px 15px 10px 0;
}

.navbar .pull-right > li > .dropdown-menu:before {
	display: none;
}

.navbar .pull-right > li > .dropdown-menu:after, 
.navbar .nav > li > .dropdown-menu.pull-right:after {
	display: none;
}

.navbar .nav li {
	margin: 3px 1px;
}

.navbar .nav > li > .dropdown-menu.pull-right:before {
    display: none;
}

.dimslider {
	box-shadow: 0;
}

#appversion:after {
    content: " (OsiDark v0.3)";
}

#copyright {
    font-size: 0.7rem;
    padding: 10px 0;
}

#copyright p {
    font-family: "Open Sans";
}

#copyright p:after {
    content: " | theme OsiDark v0.3";
}



/*** jQuery UI ***/

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	border: none;
	background: #6190A9;
	font-weight: normal;
}

.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {
	border: none;
	background: #6190A9;
	font-weight: normal;
}

.ui-widget-header {
    border: none;
    background: #69615B;
}

.ui-widget-overlay {
	background: #171719;
	opacity: .9;
	filter: Alpha(Opacity: 90);
}

.ui-corner-all {
	border-radius: 0;
}

.ui-dialog {
	padding: 0;
}

.ui-widget-content {
	background: white;
	border: 1px solid #CCC;
	color: black;
	position: relative;
	margin: 15px auto;
}

.ui-dialog-titlebar .ui-button {
	background: transparent;
}

.ui-slider-handle {
	border-radius: 20px;
}

/*** NOTIFICATIONS ***/

#noty_topRight_layout_container {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    background-color: rgba(49, 109, 81, 0.96);
    margin: 0 auto !important;
    width: 100% !important;
}

#noty_topRight_layout_container li {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    color: white !important;
    width: 100% !important;
}

.noty_message {
	padding: 10px;
}

.noty_text {
	margin: 0;
    display: block;
    text-align: center;
    padding: 10px;
}

.noty_text .btn.btn-danger {
    margin-top: 20px;
    background-image: none;
    border: none;
    border-radius: 3px;
    text-shadow: none;
    box-shadow: none;
    padding: 10px 20px;
}



/*** MODAL ***/
.modal {
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

.btn {
	box-shadow: none;
	text-shadow: none;
	background-image: none;
	border: none;
}

/*** TABLE ***/

tr.odd {
    background-color: #ECECEC;
}

/*** MOBILE ***/

.mobileitem {
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.mobileitem td, 
.mobileitem th {
	padding: 10px;
    background-image: none;
	text-shadow: none;
}

.mobileitem #status {
	width: 95px;
}

.mobileitem td:first-child, 
.mobileitem th:first-child {
    padding: 15px 10px;
}

.mobileitem th:first-child,
.mobileitem th:last-child {
	border-radius: 0;
}

.mobileitem th {
	background-color: #EAE8D8;
}

.mobileitem th a {
	text-decoration: none;
}

.mobileitem th a:before {
    content: "\f054";
    font-family: FontAwesome;
    color: #694D2E;
    padding: 10px;
    margin-right: -10px;
    padding-left: 40px;
    font-size: 20px;
}

.mobileitem th a img {
	display: none;
}

.mobileitem .btn,
.mobileitem .btn-info {
	text-shadow: none;
	background-image: none;
	border: 0;
    text-transform: uppercase;
    font-weight: 100;
    padding: 10px;
    width: 45px;
    overflow: hidden;
}

.mobileitem .btn-mini {
	border-radius: 3px;
	background: #F1F0EC;
	color: #888;
}

.mobileitem .btn-mini.btn-info {
	background-color: #47AF7F;
	color: white;
}


@media (min-width: 768px) {

	body table#itemtable tbody tr, 
	body table#itemtablenotype tbody tr, 
	body table#itemtabledoubleicon tbody tr, 
	body table#itemtablesmalldoubleicon tbody tr, 
	body table#itemtablenostatus tbody tr, 
	body table#itemtablesmall tbody tr {
    	min-height: 200px;
	}

	body table#itemtablesmalldoubleicon tbody tr {
		height: 135px !important;
	}

	body table#itemtablesmalldoubleicon tr td:first-child + td + td + td {
		margin-top: 5px;
	}

	body table#itemtablesmalldoubleicon tr td:first-child + td + td +td img {
	    margin-top: 5px;
	}

	body table#itemtablesmalldoubleicon tr td:first-child + td + td img {
		margin-top: 0;
	}

	body table#itemtablesmalldoubleicon tr td:first-child + td + td + td + td +td {
	    margin-top: 70px !important;
	    margin-left: 10px;
	}

	body table#itemtablesmalldoubleicon tr td:first-child + td + td {
		margin: 10px 5px 0px 0;
	}

	.nav-tabs > li {
	    margin: 5px 0.65%;
	    width: 32%;
	}

	.mobileitem .btn, 
	.mobileitem .btn-info {
		width: 70px;
		margin-left: 10px;
	}

	.mobileitem #status {
		width: 170px;
	}

	body table#itemtable tr td:first-child + td + td + td + td + td + td
	body table#itemtablenotype tr td:first-child + td + td + td + td + td, 
	table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td + td, 
	body table#itemtablenostatus tr td:first-child + td + td + td + td + td + td {
    	padding: 1px 5px;
		position: absolute;
    	bottom: 0;
	}

	.btnsmall, .btnsmall-dis, .btnsmall-sel {
		padding: 5px 10px;
	}

	body table#itemtable tr td:first-child + td + td + td + td + td + td img,
	body table#itemtablenotype tr td:first-child + td + td + td + td + td img, 
	body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td + td img, 
	body table#itemtablenostatus tr td:first-child + td + td + td + td + td + td img {
        margin-top: 6px;
	}

}

@media (min-width: 980px) {

	body table#itemtable tr td:first-child + td + td + td + td + td + td,
	body table#itemtablenotype tr td:first-child + td + td + td + td + td, 
	body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td + td, 
	body table#itemtablenostatus tr td:first-child + td + td + td + td + td + td {
		position: relative;
		padding: 10px 5px;
	}

	body table#itemtable tbody tr, 
	body table#itemtablenotype tbody tr, 
	body table#itemtabledoubleicon tbody tr, 
	body table#itemtablesmalldoubleicon tbody tr, 
	body table#itemtablenostatus tbody tr, 
	body table#itemtablesmall tbody tr {
    	min-height: auto;
	}

	body table#itemtable tr td:first-child + td + td + td + td + td + td img,
	body table#itemtablenotype tr td:first-child + td + td + td + td + td img, 
	body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td + td img, 
	body table#itemtablenostatus tr td:first-child + td + td + td + td + td + td img {
        margin-top: 0;
		margin-left: 5px;
	}

	
	.navbar .nav {
		top: 9px;
		margin: -5px 15px 10px 0
	}

	.navbar .nav li a span, 
	.navbar .nav .current_page_item > a span {
	    position: relative;
		top: 5px;
	}

	.navbar .nav .dropdown-menu li a span, 
	.navbar .nav .dropdown-menu .current_page_item > a span {
		top: -4px;
	}

	.navbar .nav li a, .navbar .nav li a:hover, 
	.navbar .nav .current_page_item > a, 
	.navbar .nav .current_page_item > a:hover {
	    margin-top: 0;
	    display: block;
        position: relative;
	}

	.navbar-inverse .navbar-inner {
		padding: 6px;
		margin-left: -5px;
    	margin-right: -5px;
	}

	.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
	    margin-right: -5px;
		position: relative;
		top: 5px;
	}

	.navbar .nav > li > .dropdown-menu.pull-right:after,
	.navbar .nav > li > .dropdown-menu.pull-right:before {
		display: none;
	}

	.nav-tabs > li {
		margin: 5px 0.5%;
    	width: 19%;
	}

	.btnsmall, .btnsmall-dis, .btnsmall-sel {
		margin-top: 0;
		float: left;
		padding: 0 5px;
	}

	.btnsmall {
		color: #6190A9;
		background: transparent;
	}

	.btnsmall-sel {
    	color: #8C61A9;
		background: transparent;
	}

	.btnsmall-dis {
		color: #d8d8d8;
		background: transparent;
	}

}


@media (min-width: 1200px) {

	body table#itemtable tbody tr td:first-child, 
	body table#itemtablenotype tbody tr td:first-child, 
	body table#itemtabledoubleicon tr td:first-child, 
	body table#itemtablesmalldoubleicon tr td:first-child, 
	body table#itemtablenostatus tr td:first-child, body table#itemtablesmall tr td:first-child {
		padding: 10px;

	}

	body table#itemtable tr td:first-child + td, 
	body table#itemtablenotype tr td:first-child + td, 
	body table#itemtabledoubleicon tr td:first-child + td, 
	body table#itemtablesmalldoubleicon tr td:first-child + td, 
	body table#itemtablenostatus tr td:first-child + td, 
	body table#itemtablesmall tr td:first-child + td {
		margin: -35px 10px 0 0;
	
	}

}





